/* TODO: add any application specific styling here */

/*not working as of now*/
#mediaReadview img {
    width: 100%;
    max-width: 100%
}

#mediaOverview main ul li img {
    object-fit: cover;
}

#mediaReadview main img {
    width: 100%;
}

#mediaEditView main video {
    width: 100%;
    margin-left: 13px;
}
