/* TODO: add any application specific styling here */

#mediaOverview main ul li img {
    object-fit: cover;
}

#mediaReadview main img {
    width: 97%;
    margin-left: 12px;
}

#mediaEditView main video {
    width: 97%;
    margin-left: 13px;
}

/*not working as of now*/
#mediaReadview img {
    width: 100%;
    max-width: 100%
}

.videopre {
    width: 50px;
    max-height: 50px;
    margin: 0px;
    padding: 0px;
}

#mediaOverview main ul li video {
    object-fit: cover;
}

#mediaEditView main video {
    width: 90%;
    margin-left: 13px;
}

video {
    width: 98%;
    margin-left: 8px;
}

img {
    border: 0;
    width: 97%;
    margin-left: 12px;
}